extends templates/_site

append template-variables
  - var currentProject = sections[5]
  - var prevProject = sections[4]

block template-content
  +chj-header("subpage")

  main.o-intro.l-wrap(data-intro)
    .o-intro__bg(class="bg--#{currentProject.slug}")
      .o-intro__content
        h2.o-intro__title.t-head--high= currentProject.name
        p.o-intro__text!= currentProject.info

  section.m-project.l-wrap.l-wrap--horizontal
    img.o-image--l(src="assets/images/#{currentProject.slug}/bzenia-id_l1.jpg", alt="#{currentProject.name} image")
    .o-row
      img.o-image--b(src="assets/images/#{currentProject.slug}/bzenia-id_m1b.jpg", alt="#{currentProject.name} image")
      img.o-image--b(src="assets/images/#{currentProject.slug}/bzenia-id_m2b.jpg", alt="#{currentProject.name} image")
    if currentProject.description
      .o-description
        each paragraph in currentProject.description
            p!= paragraph
    .o-row
      img.o-image--s(src="assets/images/#{currentProject.slug}/bzenia-id_b1.jpg", alt="#{currentProject.name} image")
      img.o-image--m(src="assets/images/#{currentProject.slug}/bzenia-id_b2.jpg", alt="#{currentProject.name} image")
    if currentProject.note
      .o-note
        each note in currentProject.note
          p.t-small!= note

  section.m-signage.l-wrap
    .o-twoway
      .o-twoway__item(class="color--#{prevProject.slug}")
        mark.o-mark.t-smallcaps Previous Project
        a.o-twoway__link(href="project-#{prevProject.slug}", class="bg--#{prevProject.slug}")
          h3.o-twoway__title.t-head--low= prevProject.name
          img.o-twoway__image(src="assets/images/icon_#{prevProject.slug}.jpg", alt="#{prevProject.name} thumbnail")
      .o-twoway__item(class="color--white")
        mark.o-mark.t-smallcaps(class="color--grey") Return
        a.o-twoway__link(href="index", class="bg--grey")
          h3.o-twoway__title.t-head--low Back
          .o-twoway__shape
            .o-twoway__ratio
              .o-twoway__glyph
                span.o-flash__one Ho
                span.o-flash__two me

  footer#contact.m-bottom
    .m-bottom__content.l-wrap
      mark.o-mark.t-smallcaps Contact
      .m-bottom__col--1
        p Currently about to finish Master&rsquo;s in Digital design &amp; curious for new opportunities. If I seem like a&nbsp;good fit for your team, please 
          include partials/_enkoder-mail.html
          |  &mdash; I&rsquo;ll be happy to discuss possible collaborations.
      .m-bottom__col--2.l-grid__item--m
        span.t-small Designed &amp; developed by Christian Jánský, 2015
      .m-bottom__col--3
        span.t-smallcaps Thanks for scrolling!
        p.t-small To see selection of projects I&rsquo;ve made in 2012&thinsp;&ndash;&thinsp;2013, please 
          a.t-link(href="http://www.chrisjansky.cz/2013/") See my previous portfolio
          | .
